.box{
    height: 500px;
}
.box2{
    height: 150px;
}
.box3{
    height:200px;
    border-radius: 10px;
    background-color: grey;
}
.box4{
    height:45px;
}
.box5{
  
    background-color: rgb(218, 216, 216);
}
.box6{
 height: 250px;
 
}
.box7{
    height: 120px;
}
.box8{
    height: 110px;
}
.box9{
    height: 80px;
}
.box10{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.tulisan{
    color: grey;
   
}
.ling{
    border-radius: 100%;
}

.badan {
    width: 100px;
    height: 100px;
}